body {
    margin: 0;
    padding: 0;
   /* background-image: url('background.jpg');  */
    background-size: cover;
    background-position: center;
}

.main-header {
    background-color: #333; /* Adjust the background color as needed */
    padding: 7px;
    color: white;
    display: flex;
    justify-content: space-between; /* Adjust alignment */
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.brand {
    font-size: 24px; /* Adjust the font size as needed */
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px; /* Adjust the font size as needed */
}

nav a:hover {
    text-decoration: underline;
}

#about-me {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    margin: 50px auto; /* Adjust the margin as needed */
    max-width: 800px; /* Adjust the maximum width as needed */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
}

#about-me h2 {
    color: #333;
}

#about-me p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
}
