/* contact.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Update the background image path */
    background-size: cover;
    background-position: center;
}

.main-header {
    background-color: #000000;
    padding: 7px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

#contact-info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 50px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-info h2 {
    color: #333;
}

#contact-info p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
}

#contact-info ul {
    list-style: none;
    padding: 0;
}

#contact-info li {
    margin-bottom: 10px;
}

#contact-info a {
    color: #007BFF; /* Adjust the link color as needed */
}
