body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');/* Replace 'background.jpg' with your actual file name */
    background-size: cover; /* Ensures the background covers the entire viewport */
    background-position: center; /* Centers the background image */
}

.main-header {
    /* Adjust the background color as needed */
    padding: 15px;
    color: white; /* Adjust the text color as needed */
    display: flex;
    justify-content: flex-end; /* Align items to the flex-end (right) */
    align-items: center; /* Center items vertically */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    margin-right: 15; /* Reset margin-right to 0 */
    color: black;
}

nav a {
    color: black; /* Adjust the text color as needed */
    text-decoration: none;
    margin: 0 50px; /* Adjust the margin as needed */
    font-size: 21px;
}

/* Optionally, style your navigation links on hover */
nav a:hover {
    text-decoration: underline;
}

.image-container {
    position: fixed;
    top: 110px; /* Adjust the top position to leave space for the header */
    padding-left: 700px;
    box-sizing: border-box;
    image-radius: 10px;
}

.image-container img {
    max-width: 75%;
    max-height: 75%; /* Optional: Set max height if needed */
    height: auto;
}

.content-section {
    margin-top: 80px; /* Adjust margin-top for space under the navigation */
    max-width: 650px; /* Adjust the max-width as needed */
    padding: 20px;
    box-sizing: border-box;
    white-space: pre-line;
}

.content-section h1, p {
    margin-bottom: 20px;
    color: black;
}

.content-section p {
    margin-bottom: 20px;
    font-size: 18px;
}

