body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');/* Replace 'background.jpg' with your actual file name */
    background-size: cover; /* Ensures the background covers the entire viewport */
    background-position: center; /* Centers the background image */
}

.main-header {
    background-color: #000000; /* Adjust the background color as needed */
    padding: 7px;
    color: white;
    display: flex;
    justify-content: space-between; /* Adjust alignment */
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px; /* Adjust the font size as needed */
}

nav a:hover {
    text-decoration: underline;

}

.image-container {
    position: fixed;
    top: 150px; /* Adjust the top position to leave space for the header */
    padding-left: 700px;
    box-sizing: border-box;
    image-radius: 10px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%; /* Optional: Set max height if needed */
    height: auto;
}

.content-section {
    margin-top: 80px; /* Adjust margin-top for space under the navigation */
    max-width: 650px; /* Adjust the max-width as needed */
    padding: 80px;
    box-sizing: border-box;
    white-space: pre-line;
    color: white;
}

.content-section h1, p {
    margin-bottom: 20px;
    color: white;
}

.content-section p {
    margin-bottom: 20px;
    font-size: 18px;
}


.projects-button {
    position: relative; /* Ensure relative positioning */
    margin-left: 250px;
    margin-top: -75px; /* Adjust the margin as needed */
    z-index: 1; /* Set a higher z-index value */
}

.projects-button a {
    display: inline-block;
    padding: 5px 20px; /* Adjust padding as needed */
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px; /* Adjust font size as needed */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    z-index: 1; /* Set a higher z-index value */
}

.projects-button a:hover {
    background-color: #555;
}