<!-- about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css"> <!-- Adjusted relative path -->
    <title>About Me</title>
    <!-- Add any additional stylesheets or scripts here -->
</head>
<body>
    <header class="main-header">
        <div class="brand">
            <h1> </h1>
        </div>
        <!-- nav buttons -->
        <nav>
            <a href="/">Home</a>
            <a href="about.html">About</a>
            <a href="resume.html">Resume</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
      <section id="about-me">
        <h2>About Me</h2>
        <p>
            Hello, I'm <strong>Ryan Corydon</strong>, a passionate <strong>Data Visualization Developer/Analyst</strong> based in <strong>Ames/Chicagoland Area/Remote</strong>.
            I have a <strong>Management Information Systems Degree</strong> from <strong>Iowa State University</strong> with a minor in <strong> Data Science</strong> and <strong>2-3</strong> years of experience in <strong>Data Visualization</strong>.
            My work focuses on <strong>Tableau and SQL</strong>, and I thrive on <strong>showing how well a business can function through graphics</strong>.
        </p>

        <p>
            I am skilled in <strong>SQL, Python, Tableau, R, HTML, and CSS</strong>, and my approach to work is guided by my strong interests within data.
            Over the years, I've had the opportunity to work on projects like <strong>[Project 1]</strong>, <strong>[Project 2]</strong>, and <strong>[Project 3]</strong>,
            where I <strong>have been able to learn many different skills and technologies through internships and solo projects</strong>.
        </p>

        <p>
            Outside of work, I enjoy <strong>rooting on the Chicago Bears and Chelsea Football Club</strong>.
            Looking ahead, my goal is to increase my golf skills on the side and travel more. Technically speaking I would like to increase my data visualization and web development skills.
        </p>

        <p>
            Feel free to connect with me on <strong>Linkedin or Instagram</strong> or drop me an email at <strong>rycory@comcast.net</strong>.
            I'm always open to <strong>new opportunities or even learning new things</strong> and would love to hear from you!
        </p>
    </section>

    <!-- Add other sections for your portfolio, projects, etc. -->

</body>
</html>




