<!-- contact.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/contact.css"> <!-- Assuming you have a style.css file for styling -->
    <title>Contact Me</title>
</head>
<body>

    <header class="main-header">
        <div class="brand">
            <h1></h1>
        </div>
        <!-- nav buttons -->
        <nav>
           <a href="/">Home</a>
            <a href="about.html">About</a>
            <a href="resume.html">Resume</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <section id="contact-info">
        <h2>Contact Me</h2>
        <p>
            Feel free to reach out to me via email or phone. I'd love to hear from you!
        </p>

        <ul>
            <li>Email: <a href="mailto:your.email@example.com">rycory@comcast.net</a></li>
            <li>Phone: <span>+1 (815) 277-6151</span></li>
            <!-- Add any other contact information you want to include -->
        </ul>
    </section>

    <!-- Add other sections for your portfolio, projects, etc. -->

</body>
</html>
