<!-- about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/resume.css"> <!-- Adjusted relative path -->
    <title>About Me</title>
    <!-- Add any additional stylesheets or scripts here -->
</head>
<body>
    <header class="main-header">
        <div class="brand">
            <h1>  </h1>
        </div>
        <!-- nav buttons -->
        <nav>
            <a href="/">Home</a>
            <a href="about.html">About</a>
            <a href="resume.html">Resume</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

     <div class="container">
        <div class="image-container">
            <img src="../static/resumePng.png" alt="Rotated Image">
        </div>
         </div>
    <div>
        <a href="../static/RyanCorydonResume.pdf" download="RyanCorydonResume.pdf" class="download-button">Download Resume</a>
    </div>




    <!-- Your content goes here -->

    <!-- Add any additional scripts here -->
</body>
</html>